.vernam{
   &__title{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: sans-serif;
   }
   &__wrapper{
    width: 1000px;
    max-width: 100%;
    margin: 50px auto;
   }
    &__form{
   
        display: flex;
    }
    &__input{
  
        padding: 10px 15px;
        width: 50%;
        outline: none;
        border: 2px solid #000;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: none;
        &-key{
            padding: 10px 15px;
            width: 30%;
            transform: translateX(-20px);
            outline: none;
            border: 2px solid #000;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-right: none;
        }
    }
    &__output{
        margin-top: 50px;
        font-size: 20px;
    }
}
.submit{
    width: 20%;
    outline: none;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    transform: translateX(-40px);

}